@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em !important;
    }
    body {
        max-width: 1600px;
        max-height: 900px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em !important;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em !important;
    }
}
@media (min-width: 1200px) {
    h1 {
        font-size: 6em !important;
    }
}
body {
    overflow-x: hidden;
}
#home,
body,
html {
    height: 100%;
}
h1 {
    font-family: Helvetica, Arial, sans-serif !important;
    font-weight: 900 !important;
    letter-spacing: -0.05em;
    margin-bottom: 50px !important;
    color: #000078;
}
.capa {
    text-align: center;
}
.btn-custom {
    color: #fff !important;
    border-radius: 500px !important;
    -webkit-border-radius: 500px !important;
    -moz-border-radius: 500px !important;
    -o-border-radius: 500px !important;
    text-transform: uppercase !important;
    transition: background 0.4s, color 0.4s !important;
    padding: 10px 20px !important;
}
.btn-azul {
    background: #000078 !important;
}
.btn-azul:hover {
    background: #040042 !important;
    color: #fff;
}
.btn-azul-liberty {
    color: #0d0070 !important;
    border: 2px solid #0d0070;
}
.btn-azul-liberty:hover {
    background: #0d0070;
    color: #fff !important;
}
.btn-atacadao {
    color: #00781a !important;
    border: 2px solid #00781a;
}
.btn-atacadao:hover {
    background: #00781a;
    color: #fff !important;
}
.btn-amarelo {
    color: #fff !important;
    border: 2px solid #fff;
}
.btn-amarelo:hover {
    background: #fb0 !important;
    border: 2px solid #fb0 !important;
    color: #fff !important;
}
.btn-preto {
    color: #000 !important;
}
.btn-preto:hover {
    color: #fb0 !important;
}
.btn-branco {
    color: #000 !important;
    border: 2px solid #000;
}
.btn-branco:hover {
    background: #000;
    color: #fff !important;
}
.btn-vermelho {
    color: #750008 !important;
    border: 2px solid #750008;
}
.btn-vermelho:hover {
    background: #750008;
    color: #fff !important;
}
.btn-laranja {
    color: #000 !important;
    border: 2px solid orange;
}
.btn-laranja:hover {
    background: orange;
    color: #fff !important;
}
.btn-roxo {
    color: #7902b0 !important;
    border: 2px solid #7902b0;
}
.btn-roxo:hover {
    background: #7902b0;
    color: #fff !important;
}
.carousel-control-next,
.carousel-control-prev {
    width: 5px !important;
}
nav.navbar-transparente {
    background: rgba(255, 255, 255, 0.9);
}
.nav-link-white {
    color: #000078 !important;
}
.nav-link-white:hover {
    color: #9bf0e1 !important;
}
.navbar-toggler-formated {
    color: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
}
#servicos {
    background-color: #fff;
    padding: 20px;
}
h2 {
    font-size: 3em !important;
    font-weight: 700 !important;
    letter-spacing: -0.04em;
}
h3 {
    font-size: 2em !important;
    font-weight: 700 !important;
    letter-spacing: -0.04em;
}
#servicos h2,
#servicos h3 {
    color: #000078;
}
#recursos {
    padding: 20px;
}
#recursos h3 {
    color: #ffc800;
}
#recursos h2 {
    color: #ffc800;
}
#recursos p {
    color: #fff;
}
#recursos2 {
    padding: 5px;
}
#recursos2 h3 {
    color: #ffc800;
}
#recursos2 h2 {
    color: #ffc800;
}
#recursos2 p {
    color: #fff;
}
.rotacionar {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 80px;
}
.ml-x2 {
    margin-left: 350px;
}
footer {
    background: #000;
    padding: 50px 0 20px 0;
    position: relative;
}
footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}
footer .navbar-nav a {
    color: #fff;
    font-size: 0.8em;
}
footer .navbar-nav a:hover {
    color: #fb0;
    font-size: 0.8em;
    text-decoration: none;
}
footer button {
    border: none;
    background: 0 0;
    color: #fff;
    font-size: 0.8em;
}
footer button:hover {
    color: #fb0;
    font-size: 0.8em;
    text-decoration: none;
}
footer button:visited {
    border: none;
    color: #fb0;
    font-size: 0.8em;
    text-decoration: none;
}
footer ul {
    list-style: none;
}
footer ul li {
    float: right;
    margin: 0 5px;
}
.nopaddings {
    padding-bottom: 0 !important;
}
.ml-y {
    margin-left: 80% !important;
}
.ml-x {
    margin-left: 93% !important;
}
.btn-whats {
    background: #02bf34 !important;
}
.btn-whats:hover {
    background: #090 !important;
    color: #fff;
}
.btn-custom-2 {
    color: #fff !important;
    border-radius: 500px !important;
    -webkit-border-radius: 500px !important;
    -moz-border-radius: 500px !important;
    -o-border-radius: 500px !important;
    text-transform: uppercase !important;
    transition: background 0.4s, color 0.4s !important;
    padding: 10px 20px !important;
}
.alert-azul {
    background-color: #000078;
    border-radius: 400px !important;
    color: #fff;
}
.btn-cookies {
    z-index: 1;
    color: #000 !important;
    background: #fff;
}
.btn-cookies:hover {
    background: #fb0;
    color: #fff !important;
}
.btn-custom-3 {
    color: #000 !important;
    border-radius: 500px !important;
    -webkit-border-radius: 500px !important;
    -moz-border-radius: 500px !important;
    -o-border-radius: 500px !important;
    text-transform: uppercase !important;
    transition: background 0.4s, color 0.4s !important;
    padding: 10px 20px !important;
}
.mt-c {
    margin-top: 30px;
}
.font-size-info {
    font-size: 2em;
}
.box1,
.box10,
.box11,
.box12,
.box13,
.box14,
.box15,
.box16,
.box17,
.box18,
.box19,
.box2,
.box20,
.box21,
.box22,
.box23,
.box24,
.box25,
.box26,
.box27,
.box28,
.box29,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box30,
.box31 {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box1 {
    background-image: url(../img/BG2.png), linear-gradient(50deg, #fc0, #250094);
}
.box2 {
    background-image: url(../img/BG3.png), linear-gradient(25deg, #250094, #fff759);
}
.box3 {
    background-image: url(../img/BG6.png), linear-gradient(25deg, #250094, #fff759);
}
.box4 {
    background-image: url(../img/BG7.png), linear-gradient(25deg, #250094, #fff759);
}
.box5 {
    background-image: url(../img/BG8.png), linear-gradient(25deg, #250094, #fff759);
}
.box6 {
    background-image: url(../img/BG9.png), linear-gradient(25deg, #250094, #fff759);
}
.box7 {
    background-image: url(../img/BG10.png), linear-gradient(50deg, #000, #eb0024);
}
.box8 {
    background-image: url(../img/BG11.png), linear-gradient(50deg, #000, #0d0070);
}
.box9 {
    background-image: url(../img/BG12.png), linear-gradient(50deg, #f06d02, #7902b0);
}
.box10 {
    background-image: url(../img/BG13.png), linear-gradient(50deg, #0d0070, #000);
}
.box11 {
    background-image: url(../img/BG14.png), linear-gradient(10deg, #00781a, #ff6a00);
}
.box12 {
    background-image: url(../img/BG15.png), linear-gradient(50deg, #0d0070, #00781a);
}
.box13 {
    background-image: url(../img/BG16.png), linear-gradient(50deg, #0d0070, #750008);
}
.box14 {
    background-image: url(../img/BG17.png), linear-gradient(50deg, #878787, #fff);
}
.box15 {
    background-image: url(../img/BG18.png), linear-gradient(50deg, #000, #eb0024);
}
.box16 {
    background-image: url(../img/BG19.png), linear-gradient(50deg, #000, #0d0070);
}
.box17 {
    background-image: url(../img/BG20.png), linear-gradient(50deg, #f06d02, #7902b0);
}
.box18 {
    background-image: url(../img/BG21.png), linear-gradient(50deg, #0d0070, #000);
}
.box19 {
    background-image: url(../img/BG22.png), linear-gradient(10deg, #00781a, #ff6a00);
}
.box20 {
    background-image: url(../img/BG23.png), linear-gradient(50deg, #0d0070, #00781a);
}
.box21 {
    background-image: url(../img/BG24.png), linear-gradient(50deg, #0d0070, #750008);
}
.box22 {
    background-image: url(../img/BG25.png), linear-gradient(50deg, #878787, #fff);
}
.box23 {
    background-image: url(../img/BG26.png), linear-gradient(25deg, #250094, #fc0);
}
.box24 {
    background-image: url(../img/BG27.png), linear-gradient(25deg, #250094, #fc0);
}
.box25 {
    background-image: url(../img/BG28.png), linear-gradient(50deg, #fc0, #250094);
}
.box26 {
    background-image: url(../img/BG29.png), linear-gradient(50deg, #250094, #fc0);
}
.box27 {
    background-image: url(../img/BG30.png), linear-gradient(50deg, #250094, #fc0);
}
.box28 {
    background-image: url(../img/BG31.png), linear-gradient(50deg, #250094, #fc0);
}
.box29 {
    background-image: url(../img/BG32.png), linear-gradient(50deg, #250094, #fc0);
}
.box30 {
	background-image: url(../img/BG33.png), linear-gradient(50deg, #250094, #fc0);
}
.box31 {
	background-image: url(../img/BG34.png), linear-gradient(50deg, #250094, #fc0);
}
.ml-maps {
    margin-left: 150px;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
body #sobre {
    background: url(../img/BG6.png), linear-gradient(50deg, #fc0, #250094);
    background-attachment: fixed;
}
.conteudo-sobre {
    background: #fff;
}
.mt-sobre {
    margin-top: 100px;
}
.map-container-4 {
    overflow: hidden;
    padding-bottom: 0;
    position: relative;
    height: 50;
}
.map-container-4 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.sompo {
    color: #750008 !important;
}
.liberty {
    color: #0d0070 !important;
}
.fedex {
    color: #7902b0 !important;
}
.brasif {
    color: #0d0070 !important;
}
.atacadao {
    color: #00781a !important;
}
.cooperata {
    color: #0d0070 !important;
}
.mitsui {
    color: #0d0070 !important;
}
.comexport {
    color: #000 !important;
}
